[Unit]
Description=Transfer.coffee
After=syslog.target
After=network.target

[Service]
Type=simple

# Replace this with the user you want to run as
User=transfercoffee
Group=transfercoffee

# Replace /opt/transfer.coffee with where you cloned the repo to
WorkingDirectory=/opt/transfer.coffee
ExecStart=/usr/bin/npm run start

# Create a .env file in the root of the project with the environment variables (see README.md)
EnvironmentFile = /opt/transfer.coffee/.env

Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
